.u-section-1 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 155px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 396px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  width: 479px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 396px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-1 .u-text-1 {
  margin: 37px 82px 0 38px;
}

.u-section-1 .u-text-2 {
  margin: 0 82px 0 38px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 34px 82px 0 38px;
}

.u-section-1 .u-text-4 {
  margin: 6px 60px 0 38px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 71px auto 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 161px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 60px 166px 0 0;
}

.u-section-1 .u-text-11 {
  margin: 5px 166px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 223px 0 13px;
}

.u-section-1 .u-text-13 {
  margin: 0 223px 0 13px;
}

.u-section-1 .u-text-14 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 128px 138px 0 19px;
}

.u-section-1 .u-text-15 {
  margin: 0 151px 0 19px;
}

.u-section-1 .u-text-16 {
  margin: 0 auto 0 19px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 31px 13px 0 auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1478px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 315px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-1 .u-text-1 {
    width: 445px;
    margin-left: 0;
    margin-right: 20px;
  }

  .u-section-1 .u-text-2 {
    width: 445px;
    margin-left: 0;
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 32px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    margin-top: 102px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 336px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 61px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 66px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 66px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 336px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 136px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 57px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 70px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1171px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: 355px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 355px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 26px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1496px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 263px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -115px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -141px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
}